pydantic
fastapi
uvicorn
pandas
scikit-learn
joblib

fastapi
uvicorn
pandas
scikit-learn
joblib
jinja2
python-multipart

# Database
sqlalchemy
psycopg2-binary

# Redis
redis

# Env
#pytho.env
python-dotenv